.excessiveBox {
    width: 91.5%;
    margin: 4px auto 16px auto;
    border-radius: 16px;
    background-color: var(--backgroundColor1);
    border: 1px solid var(--border2);
    font-size: 14px;
    font-family: 'font2';
    color: #9E52FF;
    padding: 16px;
    box-sizing: border-box;
}


.chooseBox {
    font-family: 'font3';
}

.chooseBox p i {
    color: var(--color3);
    font-family: 'font4';
}


.incomeBox {
    width: 91.5%;
    height: 76px;
    margin: 8px auto 16px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color3);
    border-radius: 44px;
    border: 1px solid var(--border2);
    background-color: var(--backgroundColor1);
}

.incomeBox .incomeItem:first-child {
    border-right: 1px solid #696F7A;
}

.incomeItem {
    height: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.incomeItem span {
    font-size: 14px;
    font-family: 'font2';
}

.incomeItem p {
    font-size: 18px;
    font-family: 'font3';
    margin-top: 2px;
}

















.levelBoxAll {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}


.levelBox {
    width: 100%;
    background-color: var(--backgroundColor2);
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid var(--border1);
    box-sizing: border-box;
}

.levelbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.levelName {
    font-size: 16px;
    font-family: 'font4';
    color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 13px;
    box-sizing: border-box;
}


.levelName p::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 7px;
}

.flexre {
    font-size: 16px;
    font-family: 'font3';
    display: flex;
    align-items: center;
}

.flexre p {
    background: linear-gradient(to right, #5F54FF, #F842FF);
    -webkit-background-clip: text;
    color: transparent;
}

.flexre p::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #5F54FF, #F842FF);
}

.flexre img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.boxAll {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: 'font4';
    color: var(--color3);
    border-bottom: 1px solid #696F7A;
}

.levelBox>.boxAll:last-child {
    border-bottom: 0;
}

.boxAll div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    border-right: 1px solid #696F7A;
}

.boxAll div:last-child {
    border-right: 0;
}

.boxAll div p {
    word-break: break-all;
}

.boxAll div p i {
    color: var(--color1);
    font-family: 'font4';
}

.boxItem1 {
    width: 17%;
}

.boxItem2 {
    width: 30%;
}

.boxItem3 {
    width: 25%;
}

.boxItem4 {
    width: 28%;
    text-align: center;
}



/* level页面 */
.levelBoxAll2 {
    margin-top: 10px;
}



.recordBoxAll {
    margin-top: 16px;
}

.recordBox {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}


.timeBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-family: 'font4';
    color: var(--color3);
    position: relative;
}


.timeBox p {
    padding-left: 16px;
    box-sizing: border-box;
}

.timeBox p::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 4px;
}


.amountBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color3);
    font-size: 14px;
    font-family: 'font2';
    border-radius: 100px;
    border: 1px solid var(--border1);
    padding: 9px 16px;
    box-sizing: border-box;
    margin-top: 8px;
    background-color: var(--backgroundColor2);
    line-height: 1.5;
}

.amountItem p {
    font-family: 'font4';
}


.amountItemColor {
    color: var(--color1);
}


.w{
    padding: 150px 0;
}