:root {
    --vip-text: #000000cf;
}
ul.bottom-menu.list-unstyled.list-inline li img {
    width: 20px;
}
ul.bottom-menu.list-unstyled.list-inline li {
    text-align: center;
}
ul.bottom-menu.list-unstyled.list-inline li p {
    font-size: 10px;
    color: #000 !important;
}
.bottom-menu {
    justify-content: space-around;
}
.dash-balance {
    height: 170px;
    padding: 0px;
}
.item {
    align-items: center;
    background-color: tomato;
    color: white;
    display: flex;
    height: 170px;
    justify-content: center;
}
.trans-sec {
    top: -17px;
    z-index: 22;
}
.trans-sec {
    top: 0px;
    background: #fff;
    display: block;
    position: relative;
    border-radius: 0px 0px 30px 30px;
    padding: 15px 15px 30px 15px !important;
    box-shadow: 0 5px 10px #0000003d;
}

.serv-item {
    padding: 10px 0px 0;
}

video {
    border-radius: 5px;
}

.serv-icon {
    margin: 0 auto -2px;
    border-radius: 10px;
}
a.serv-icon img {
    width: 40px;
}
.serv-item span {
    color: #000000;
    font-size: 13px;
}

.bal-section {
    position: relative;
    margin-top: 10px !important;
}
.task_center{
    color: #213266;
}
.second_slider_item {
    box-shadow: 0 5px 10px #00000029;
    padding: 5px 12px;
    border-radius: 4px;
}
.second_slider_item {
    box-shadow: 0 5px 10px #00000029;
    padding: 5px 20px;
    border-radius: 4px;
}
.second_slider_item p {
    margin: 0;
    font-size: 12px;
    margin-top: 5px;
}
.second_slider_item h2 {
    font-size: 14px;
    color: #000;
    margin: 0;
    font-weight: 600;
}

.second_slider_container .owl-carousel .owl-stage-outer {
    height: 78px !important;
}

.task_center {
    color: #213266;
    font-size: 15px;
    font-weight: 700;
}


/*accordion*/
.accordion .card {
    border: none;
    margin-bottom: 2px;
}
.accordion .card h2 {
    background: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png) no-repeat calc(100% - 10px) center;
    background-size: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 0;
    box-shadow: 0 5px 10px #00000021;
    padding: 10px 10px;
    color: #000;
    font-weight: 400;
}

.accordion .card h2.collapsed {
    background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
}
.accordion .card-body {
    padding-left: 0;
    padding-right: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #00f73226;
    border-color: transparent transparent transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    font-size: 13px;
    color: #948989;
}

.trad_item_one img {
    width: 20px;
}
.trad_item_one span {
    font-size: 10px;
    color: #00000078;
    font-weight: 700;
}

.arrow-button {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    position: relative;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(50, 50, 50, 0.35));
    -webkit-transform: translateZ(0);
}
.arrow-button .label {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    float: left;
    background-color: #4ab385;
    transition: all 0.2s;
    font-size: 13px;
    font-weight: 300 !important;
}
.arrow-button .arrow {
    display: block;
     float: none;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 14px solid #4ab385;
    transition: all 0.2s;
}
.arrow-button:hover .label {
    background-color: #2b6a4e;
}
.arrow-button:hover .arrow {
    border-left: 20px solid #2b6a4e;
}
.arrow-button:focus {
    outline: 0 !important;
}
.trad_table.table td, .table th {
    padding: 0 !important;
    border-top: 0px solid transparent !important;
}
div#accordionExample .card {
    box-shadow: 0 5px 10px #00000029;
}




.testimonials {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr !important;
    line-height: 54px;
    box-shadow: 0 5px 10px #00000026;
    padding: 0 7px;
}

.testimonials-control img {
    width: 17px;
    margin-top: 18px;
}

.testimonials-badge{
    display: none;
}

p.home_desc {
    color: #000;
    font-size: 12px;
    text-align: center;
    padding: 0 24px;
    margin-top: 35px;
}

.testimonials-badge {
    width: 13px;
    height: 13px;
    border: 1px solid #ddd !important;
    border-radius: 90px;
    cursor: pointer;
}

.testimonials-quotes {
    width: 60px;
    margin-bottom: 30px;
    font-size: 45px;
}

.testimonials-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.testimonials-control i {
    margin-bottom: 30px;

}

.testimonials-text {
    display: none;
    overflow: hidden;
    background: #fff;
}

.testimonials-text p {
    margin-top: 6px !important;
    line-height: 22px;
    padding: 1px 0px;
    font-size: 13px;
    padding: 10px 0;
}

span.testimonial-name {
    font-size: 18px;
    font-weight: 700;
    color: #ff8b29;
}

span.testimonial-position-held {
    font-style: italic;
    font-size: 18px;
    color: #949391;
}

.testimonials-animate-bottom {
    position: relative;
    animation: testimonials-animatebottom 0.4s;
}
@keyframes testimonials-animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

.testimonials-animate-fading {
    animation: testimonials-fading 10s infinite;
}
@keyframes testimonials-fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.testimonials-animate-opacity {
    animation: testimonials-opac 0.8s;
}
@keyframes testimonials-opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.b_box small {
    color: #000;
    font-size: 10px;
    text-align: center;
    display: block;
}
.b_box h4 {
    font-size: 18px;
    color: #213266;
    font-weight: 700;
    margin: 0;
    margin-top: 0 !important;
    text-align: center;
}
.b_box h4 small {
    font-size: 10px;
}
.resources-card {
    width: 50%;
    padding: 25px 8px;
}

.partner img{
    width: 100%;
}
.partner_item {
    box-shadow: 0px 0px 2px 1px #0000001f;
}

/***********************VIP**************/
h3.logo {
    color: #000;
    font-size: 14px;
}
h3.time {
    color: #000;
    font-size: 14px;
}
.vip_banner {
    margin-top: 50px;
    box-shadow: 0px 5px 19px #00000024;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 4px;
    padding: 8px 0;
    padding-top: 16px;
}
.fast_vip {
    margin-top: 19px;
}
.vip_banner p {
    color: #000000a8;
    font-size: 11px;
    text-align: center;
}
.vip_banner h3 {
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-top: 5px;
}
.left {
    font-size: 12px;
    color: #000000b8;
    margin: 3px 0;
}
.right {
    color: #000;
    font-size: 13px;
}
.left_v_text {
    font-size: 13px;
    margin: 2px 0;
}
.right_v_text {
    color: #000;
    font-size: 13px;
}
section.bal-section.container.mt-5 {
    box-shadow: 0 5px 10px #0000001f;
    padding: 5px 15px;
}
/* VIP Pages */
.vip_box {
    margin: 6px 0;
    border: 1px solid rgb(0 0 0 / 0%);
}

img.vip_img_hiro {
    width: 100%;
}
.vip_box .card-body {
    padding: 9px;
    box-shadow: 0px 5px 10px #0000001c;
}
.vip_title {
    color: var(--vip-text);
    font-weight: 700;
    font-size: 16px;
}
.vip_price_btn span {
    background: red;
    padding: 0px 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
}
.vip_price_btn span {
    padding: 0px 4px;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    background: linear-gradient(79deg,#912993, #000000);
}
.vip_item_fecility ul {
    padding: 0px 0px 0 8px;
    margin: 13px 0;
}
.vip_f_title {
    font-size: 10px;
    margin: 2px 0;
}
.vip_f_right {
    color: #ba2d2d;
    font-size: 13px;
}
.vip_f_right_sky {
    font-size: 13px;
    color: #000000d9;
}
.vip_item_fecility ul li {
    list-style: none;
    margin-top: 3px;
}
.vip_item_fecility ul li::before {
    content: "\2022";
    color: #ff000082;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-top: -2px;
    position: absolute;
}
.vip_item_buy_btn {
    margin-top: 15px;
}
.vip_item_buy_btn a {
    background: #ff0000a6;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    padding: 6px 0;
    border-radius: 50px;
}
.active_vip {
    background: #0000002e !important;
    color: #000 !important;
    text-decoration: line-through !important;
}

