*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.l_banner {
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.logo_placer{
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form_area {
    width: 85%;
    margin: 20px auto;
}

.form-box {
    margin: 10px 0;
}
input.custom_input {
    width: 100%;
    font-size: 13px;
    padding: 15px 8px;
    border: none;
    border-bottom: 1px solid #00000066;
}
input.custom_input:focus-visible{
    outline: none;
    border: none;
}
input.custom_input::placeholder{
    color: #00000091;
}
input.custom_input.phone {
    padding-left: 55px;
}
span.phone_code {
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 15px;
}

span.gmailExtention {
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 18px;
}

a.btn {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #1da6ef;
    padding: 13px 0;
    margin: 12px 0;
    border-radius: 50px;
    color: #000;
}
a.btn.active{
    background: #1da6ef;
    color: #fff;
}











